body{
  background: url(./assets/background.jpg);
  background-size: 100%;
}

.title {
  text-shadow: #FC0 1px 0 10px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  width: 708px;
  height: 200px;
  padding: 22px 5px 5px 40px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 6px;
  background: url(./assets/text-area.jpg);
  caret-color: #000000;
  color: #462faa;
  font-size: 20px;
  font-weight: 300;
  overflow-x: hidden;
  font-family: 'Segoe Script';
  line-height: 24px;
}

.hidden {
  display: none;
}

.keyboard {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(150 207 135);
}

.keyboard__keys {
  width: 100%;
  text-align: center;
  display: flex;
  row-gap: 4px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.keyboard__key {
  -webkit-tap-highlight-color: transparent;
  height: 45px;
  width: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #68eda2;
  outline: none;
  background-color: rgb(108 112 111);
  border: 0;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  transition: .3s;
}

.shift-key {
  min-width: 85px;
}

.caps-key {
  width: 80px;
}

.caps-key::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  top: 5px;
  right: 5px;
  background-color: rgb(133, 133, 133);
  border-radius: 50%;
  transition: .3s;
}

.active {
  box-shadow: inset 0px 0px 45px #3a584e;
}

.caps-key.active::after {
  background-color: rgb(255, 174, 0);
}

.backspace-key {
  width: 85px;
}

.delete,
.tab {
  width: 60px;
}

.enter-key {
  min-width: 100px;
}

.space-key {
  min-width: 46%;
}

.description {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-shadow: #FC0 1px 0 10px;
}